* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.p {
    margin-bottom: 20px;
}

.image {
    position: relative;
}

.links {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: #A53DFF;
    padding: 5px 10px;
    font-weight: semi-bold;
    border-radius: 5px;
}

.link:hover {
    text-decoration: none;
    color: white;
    background-color: #A53DFF;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-projects {
    background-color: #A53DFF;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.btn-cv {
    background-color: white;
    color: #A53DFF;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #A53DFF;
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .p {
        margin-bottom: 15px;
    }
}