#title-div {
    font-weight: 600;
    font-size: 2.25rem;
    color: #0b4f4a;
}

#title-div > span {
    color: #00bba7;
}

#credit {
    color: cornflowerblue;
}

#open-source {
    color: rgb(153, 153, 153);
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#zoom-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 2px #E8E8E8;
    width: 50px;
    border-radius: 5px;
    padding: 2px;
    height: 150px;
}

button {
    height: 45px;
    width: 45px;
    border: none;
    background: none;
}

button:hover {
    background: #e1fffa9d;
}

#main-container {
    display: flex;
}

#map-container > img {
    height: 100vh;
}