#list {
    max-width: 250px;
}

#list> li > span > i {
    color: green;
}

#list> li > span > i:hover {
    color: red;
}

#list > li > span {
    display: flex;
    justify-content: space-between;
}