body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
}

.header {
    grid-column: 1/-1;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    grid-column: 2/10;
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-column: 10/11;
    background-color: chartreuse;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-column: 2/11;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}