body {
    margin: 0;
}

#box1 {
    background-color: #be0027;
    height: 100px;
    border: 5px dashed white;
    margin-bottom: 10px;
    /* margin-bottom: 10px; */
}

#box2 {
    background-color: #3b5aa3;
    height: 100px;
    border: 5px solid #000000;
    border-radius: 50px;
    /* margin-top: 10px; */
}

#box3 {
    background-color: #e2ae57;
    height: 100px;
}

#btn1 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    padding: 12px 14px;
    margin: 0px 0 10px 0;
}

#btn2 {
    border: none;
    background-color: #e2ae57;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* padding: 12px 14px 12px 14px; */
    padding: 12px 14px;
    border-radius: 6px;
}