body {
    padding: 0;
    margin: 0;
}
.box1 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/-1;
}

.box2 {
    
    /* width: 200px; */
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 5;
}

.box3 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
}

.box8 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9 {
    /* height: 100px; */
    /* width: 200px; */
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
