body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.upper-header {
    width: 100%;
    background-color: #322348;
    color: whitesmoke;
    text-align: center;
    padding: 5px 0px;
}

.lower-header {
    background-color: #563d7c;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    width: 550px;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-text {
    text-decoration: none;
    font-weight: bold;
    color: #cbbde2;
}

.nav-text:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.right-lower-header {
    display: flex;
}

.download {
    border-radius: 5px;
    border: 1px solid #ffe484;
    background-color: transparent;
    color: #ffe484;
    font-size: 16px;
    font-weight: semi-bold;
    padding: 5px 10px;
}

.download:hover {
    background-color: #ffe484;
    color: #563d7c;
}