* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 300px;
    justify-content: space-between;
    margin: 20px;
    gap: 15px;
}

div {
    display: flex;
    align-items: center;
    gap: 10px;
}

input:required {
    border: 2px solid red;
}

input:hover {
    background-color: chocolate;
}

input:focus {
    background-color: aqua;
}
