body {
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    background-color:aquamarine;
    height: 100vh;
}

.header {
    display: flex;
    background-color:aqua;
    height: 10vh;
}

.ncsf-container {
    display: flex;
    flex-direction: row;
}

.navigation {
    width: 10vw;
    background-color: blueviolet;
    height: 90vh;
}

.csf-container {
    display: flex;
    flex-direction: column;
}

.cs-container {
    display: flex;
}

.content {
    height: 80vh;
    background-color: brown;
    width: 80vw;
}

.sidebar {
    height: 80vh;
    width: 10vw;
    background-color: chartreuse;
}

.footer {
    height: 10vh;
    width: 90vw;
    background-color: black;
}
